:root {
    --IRIS: #4D5AE5;
    --NAVY-BLUE: #2E2F42;
    --WHITE: #FFF;

}




h1 {
        color: var(--WHITE, #FFF);
        text-align: center;
    
        /* Header 1 */
        font-family: Roboto;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        /* 107.143% */
        letter-spacing: 1.12px;
        


.logo {
    text-decoration: none;
    color: var(--NAVY-BLUE);
}

.logo span {
    color: var(--IRIS);
}